
<main class="main">
    <div class="categorias">
        <div class="bebidas">
            <img src="img/packmedicamentos.jpg" alt="">
            <div class="categoria-info">
                <h3>Medicamentos</h3>
            </div>
        </div>
        <div class="postres">
            <img src="img/packbelleza.jpeg" alt="">
            <div class="categoria-info">
                <h3>Belleza</h3>
            </div>
        </div>
        <div class="platillos">
            <img src="./img/packhigienepersonal.jpeg" alt="">
            <div class="categoria-info">
                <h3>Higiene Personal</h3>
            </div>
        </div>
    </div>
</main>